@font-face {
    font-family: 'Uni-Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Uni-Sans.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Uni-Sans-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Uni-Sans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Uni-Sans-Thin';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Uni-Sans-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
}

@import "theme/child_theme_variables"; // <------- Add your variables into this file. Also add variables to overwrite Bootstrap variables here
@import "assets/bootstrap4"; // <------- Loads Bootstrap4
@import "../src/sass/understrap/understrap/understrap"; // <------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
@import "../src/sass/understrap/understrap/woocommerce"; // <------- Loads WooCommerce style fixes. Comment out if you aren't using WooCommerce
// Optional files - If you don´t use the corresponding scripts/fonts comment em out
@import "assets/font-awesome"; // <------- Font Awesome Icon font
@import "assets/underscores"; // <------- Underscores media styles
// Any additional imported files //
@import "theme/child_theme"; // <------- Add your styles into this file
@import "../src/sass/understrap/theme/contact-form7"; // <------- Loads some basic styling for contact form 7 plugin