// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
//
// Color system
//
$primary: #231C45;
$secondary: #39EBBC;
$cyan: #2EC7FF;
$font-family-base: 'Uni-Sans';
$headings-font-family:'Uni-Sans-Bold';
$h1-font-size: 1.75em;
$h2-font-size: 1.50em;
$h3-font-size: 1.50em;
$h6-font-size: 1.50em;