.uni-sans-bold,
bold {
    font-family: "Uni-Sans-Bold";
}

.uni-sans-thin {
    font-family: "Uni-Sans-Thin";
}

a {
    color: $primary;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Uni-Sans-Bold";
    color: $primary;
    &:hover {
        color: $primary;
        text-decoration: underline;
        text-decoration-thickness: 0.25em;
        text-decoration-color: $secondary;
    }
}

// :is(h1, h2, h3, h4, h5, h6) {
//     font-family: 'Uni-Sans-Bold'
// }
.subheader {
    font-size: 1em;
}

.container-border-left {
    background-color: $primary;
    border-left: 30px solid $secondary;
    color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-border-left {
    border-left: 35px solid $secondary;
    color: $primary;
    padding-top: 10px;
}

.Hero_shot_ipad {
    background-attachment: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.Hero_shot_desktop {
    height: 600px;
    background-attachment: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.container-dark {
    background-color: $primary;
    color: $white;
}

.video-title {
    font-size: 1.5em;
}

.row-video-desktop-main {
    height: 300px;
}

.frame-video {
    border: 4px solid $primary;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    color: white;
    background-color: $primary;
    border-color: $primary;
}